<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>RE Student Rent Evaluation</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
            integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/demo.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Real Estate Valuation Modelling</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Search Form <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    </nav>
    
    <!-- Form -->
    <div class="jumbotron jumbotron-fluid">


    <!-- Starting the card -->
    <div class="container">
        <form action="{{url_for('result')}}" method="POST">
            <div class="row">
                <div class="col"></div>
                <div class="col-8">
                    <div class="card">
                        <div class="card-header">
                            Nr.1 Tool for Finding an Apartment for Students in Copenhagen
                        </div>
                        <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        
            
                        <!-- Housing Types --> 
                        <div class="container">
                            <div class="row">
                            <div class="col-2.4">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Housing Type:</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2.4">
                                
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                    <input type="checkbox" name="apartment">
                                    </div>
                                </div>
                                <label class="form-control">Apartment</label>
                                </div>
                            </div>
                             
                            <div class="col-2.4">
                                <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                    <input type="checkbox" name="room">
                                    </div>
                                </div>
                                <label class="form-control">Room    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                    <input type="checkbox" name="terraced">
                                    </div>
                                </div>
                                <label class="form-control">Terraced</label>
                                </div>
                            </div>
                            <div class="col-2.4">
                                <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                    <input type="checkbox" name="room">
                                    </div>
                                </div>
                                <label class="form-control">Villa</label>
                                </div>
                            </div>
                            </div>
                        </div>
            
                        <!-- University Selection --> 
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">University Selection:</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01" name="university_selection">
                            <option selected>Choose...</option>
                            <option value="CBS Solbjerg Plads" name="CBS Solbjerg Plads">CBS Solbjerg Plads</option>
                            <option value="CBS Dalgas Have" name="CBS Dalgas Have">CBS Dalgas Have</option>
                            <option value="CBS Graduate House" name="CBS Graduate House">CBS Graduate House</option>
                            <option value="CBS Flintholm" name="CBS Flintholm">CBS Flintholm</option>
                            <option value="CBS Porcelænshaven" name="CBS Porcelænshaven">CBS Porcelænshaven</option>
                            <option value="CBS Kilen" name="CBS Kilen">CBS Kilen</option>
                            <option value="Aalborg Universitet" name="Aalborg Universitet">Aalborg Universitet</option>
                            <option value="KU Nørregade" name="KU Nørregade">KU Nørregade</option>
                            <option value="KU Søndre Campus" name="KU Søndre Campus">KU Søndre Campus</option>
                            <option value="KU Panum" name="KU Panum">KU Panum</option>
                            <option value="KU Samfundsvidenskabelige Fakultet" name="KU Samfundsvidenskabelige Fakultet">KU Samfundsvidenskabelige Fakultet</option>
                            <option value="KU Sundhedsvidenskabelige Falkutet" name="KU Sundhedsvidenskabelige Falkutet">KU Sundhedsvidenskabelige Falkutet</option>
                            <option value="KU Det Natur- og Biovidenskabelige Fakultet" name="KU Det Natur- og Biovidenskabelige Fakultet">KU Det Natur- og Biovidenskabelige Fakultet</option>
                            <option value="KU Det Juridiske Fakultet" name="KU Det Juridiske Fakultet">KU Det Juridiske Fakultet</option>
                            <option value="KU Det Humanistiske Fakultet" name="KU Det Humanistiske Fakultet">KU Det Humanistiske Fakultet</option>
                            <option value="Det Teologiske Fakultet" name="Det Teologiske Fakultet">Det Teologiske Fakultet</option>
                            <option value="Copenhagen Business Academy" name="Copenhagen Business Academy">Copenhagen Business Academy</option>
                            <option value="IT Universitetet" name="IT Universitetet">IT Universitetet</option>
                            </select>
                        </div>


                        <!-- Ranges --> 
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text">Price Range:</span>
                                    </div>
                                    <input type="text" name="min_price" aria-label="Min Price" class="form-control" placeholder="Min Price">
                                    <input type="text" name="max_price" aria-label="Max Price" class="form-control" placeholder="Max Price">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text">Number of Rooms:</span>
                                    </div>
                                    <input type="text" name="min_room" aria-label="min_room" class="form-control" placeholder="Min ">
                                    <input type="text" name="max_room" aria-label="max_room" class="form-control" placeholder="Max ">
                                </div>
                            </div>
                        </div>
                        <br>



                        <!-- Advanced Search 2nd --> 
                            <div class="row">
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">Pets Allowed</label>
                                        </div>
                                        <select class="custom-select" id="inputGroupSelect01" name="pets_allowed">
                                        <option selected></option>
                                        <option value="1">Yes</option>
                                        <option value="2">No</option>
                                        </select>
                                    </div>
                                </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Furnished</label>
                                    </div>
                                    <select class="custom-select" id="inputGroupSelect01" name="furnished">
                                    <option selected></option>
                                    <option value="1">Yes</option>
                                    <option value="2">No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Rent Period</label>
                                    </div>
                                    <select class="custom-select" id="inputGroupSelect01" name="rent_period">
                                    <option selected></option>
                                    <option value=">1">>1</option>
                                    <option value="1-2">1-2</option>
                                    <option value="2+">2+</option>
                                    </select>
                                </div>
                            </div>
                            </div>
                        

                            <!-- Model Weights --> 
                            <p class="card-text">Here is some text where we explain why we are asking to choose to select weights</p>
                            <div class="row">
                                <div class="col-sm-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div id="slider">
                                            <h5 class="card-title">Price</h5>
                                            <input class="bar" type="range" name="price" id="rangeinput" value="50" onchange="rangevalue.value=value"/>
                                                <span class="highlight"></span>
                                            <br>Weight: 
                                            <output id="rangevalue" name="price">50</output>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card">
                                    <div class="card-body">
                                        <div id="slider">
                                            <h5 class="card-title">Location</h5>
                                            <input class="bar" type="range" name="location" id="rangeinput1" value="50" onchange="rangevalue1.value=value"/>
                                                <span class="highlight"></span>
                                            <br>Weight: 
                                            <output id="rangevalue1" name="location">50</output>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card">
                                    <div class="card-body">
                                        <div id="slider">
                                            <h5 class="card-title">Some other value</h5>
                                            <input class="bar" type="range" name="other" id="rangeinput1" value="50" onchange="rangevalue2.value=value"/>
                                                <span class="highlight"></span>
                                            <br>Weight: 
                                            <output id="rangevalue2" name="other">50</output>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <br>

                            <input href="#" type="submit" value="Search" id="calc_btn" class="btn btn-primary" />
                            <br />
            
                            
                        </form>
            
                        </div>
                    </div>
                </div>
                <div class="col"></div>
        
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>

  </body>
</html>