<script>
    function initMap() {
        // map options
        var options = {
        zoom: 11,
        center: {
            lat: 55.6761,
            lng: 12.5683
        }
        }
        var map = new google.maps.Map(document.getElementById('map'), options);
        // Add a marker clusterer to manage the markers.


        {%for i in range(0, 10)%}

            //Add marker
            var markers = [
            //Dublin
            {
                coords: {
                lat: {{df.iloc[i,19]}},
                lng: {{df.iloc[i,20]}}
                },
                iconImage: 'assets/img/places/stparkdublin.png',
                content: '<h5 class="card-title">{{df.iloc[i,1]}} m²</h5>'  + '<p>{{df.iloc[i,2]}}</p>' + '<p>Distance to {{university_selection}}: {{df.loc[i,university_selection]}} km</p>'+'<p>Takeover date: {{df.iloc[i,10]}}</p>'+'<p>Montly Price: {{df.iloc[i,18]}} dkk</p>'
            },

            ];
            
        {%endfor%} 
  
        // Loop through markers
        var gmarkers = [];
        for (var i = 0; i < 10; i++) {
            var markers = [
            //Dublin
            {
                coords: {
                lat: {{df.iloc[i,19]}},
                lng: {{df.iloc[i,20]}}
                },
                iconImage: 'assets/img/places/stparkdublin.png',
                content: '<h5 class="card-title">{{df.iloc[i,1]}} m²</h5>'  + '<p>{{df.iloc[i,2]}}</p>' + '<p>Distance to {{university_selection}}: {{df.loc[i,university_selection]}} km</p>'+'<p>Takeover date: {{df.iloc[i,10]}}</p>'+'<p>Montly Price: {{df.iloc[i,18]}} dkk</p>'
            },

            ];
            gmarkers.push(addMarker(markers));
        }

        //Add MArker function
        function addMarker(props) {
        var marker = new google.maps.Marker({
            position: props.coords,
            map: map,

        });

        /* if(props.iconImage){
            marker.setIcon(props.iconImage);
        } */

        //Check content
        if (props.content) {
            var infoWindow = new google.maps.InfoWindow({
            content: props.content
            });
            marker.addListener('click', function() {
            infoWindow.open(map, marker);
            });
        }
        return marker;
        }
        var markerCluster = new MarkerClusterer(map, gmarkers, {
        imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
        });
    }
    google.maps.event.addDomListener(window, 'load', initMap)
    </script>





    google.maps.event.addDomListener(window, 'load', initMap)
            



            addMarker({lat:11.5564, lng:104.9282});
            addMarker({lat:11.2237, lng:105.1259});

            function addMarker(coords){
                var marker = new google.maps.Marker({
                    position:coords,
                    map:map,
                });
            }
        }